<section class="w-75 mx-auto rounded shadow bg-main-light p-3 mb-3" *ngIf="cartProo;else mgs ">
    
    <div class="d-flex align-items-center justify-content-between">
        <h1 class="h2">Shop Cart</h1>
        <button (click)="clear()" class="btn btn-sm btn-outline-danger">Clear All</button>
    </div>
    <p class="text-main">Total Price: {{cartProo.totalCartPrice |currency:'EGP '}}</p>
    <div class="row border-bottom py-2" *ngFor="let Cartitmes of cartProo.products">
        <div class="col-md-1">
            <img class="w-100" [src]="Cartitmes.product.imageCover" [alt]="Cartitmes.product.title">
        </div>
        <div class="col-md-11 d-flex align-items-center justify-content-between">
            <div>
                <h3 class="h6">{{Cartitmes.product.title}}</h3>
               <p class="text-main m-0"> Price: {{Cartitmes.price |currency:'EGP '}}</p>
                <button #removbtn  (click)="removcart(Cartitmes.product._id ,removbtn)" class="btn m-0 p-0 text-main"><i class="fas fa-trash-can"></i> Remove</button>
            </div>
            <div>
                <button #bt1 (click)="changbtn(Cartitmes.count+1,Cartitmes.product._id, bt1, bt2)" class="btn btn-small border-success">+</button>
                <span class="p-2">{{Cartitmes.count}}</span>
                <button #bt2 (click)="changbtn(Cartitmes.count-1,Cartitmes.product._id, bt1, bt2)" class="btn btn-small border-success">-</button>
            </div>
        </div>
    </div>
    <button [routerLink]="['/payment', cartProo._id]"  class="main-btn mt-3 "  >Online Payment <img src="./assets/images/visa.svg" alt=""></button>
   
</section>


<ng-template #mgs>
    <h2 class="text-center">Your Cart Is Empty</h2>
</ng-template>