
<section class="py-3">
    <div class="row g-0">
        <div class="col-md-9">
            <owl-carousel-o [options]="cat2Options">
                <ng-template carouselSlide>
                    <img height="400" src="./assets/images/main-slider-1.jpeg" alt="">
                </ng-template>  
                 

                <ng-template carouselSlide>
                    <img height="400" src="./assets/images/main-slider-2.jpeg" alt="">
                </ng-template>  
                 

                <ng-template carouselSlide>
                    <img height="400" src="./assets/images/main-slider-3.jpeg" alt="">
                </ng-template>  
                 
              </owl-carousel-o>
        </div>
        <div class="col-md-3">
            <img height="200" class="w-100" src="./assets/images/slide-1.jpeg" alt="">
            <img  height="200"class="w-100" src="./assets/images/slide-2.jpeg" alt="">
        </div>
    </div>
</section>

<section class="py-4" *ngIf="ctogory.length > 0">
    <h2>Populer categories</h2>
    <owl-carousel-o [options]="catOptions">

        <ng-container *ngFor="let catslide of ctogory">
          <ng-template carouselSlide >
            <img height="300" [src]="catslide.image" [alt]="catslide.name" [title]="catslide.name">
            <h3 class="h6 text-main">{{catslide.name}}</h3>
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>
</section>


<section class="py-4" *ngIf="product1.length > 0" >
    <h2>Populer Products</h2>
    <input type="text" name="" id="" class="form-control w-75 mx-auto my-3" placeholder="Search..." [(ngModel)]="termmo">
    <div class="row g-4">
        <div *ngFor="let itemPro of product1 | searchjj: termmo |slice:0:18 " class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="product h-100">

         <i *ngIf="!wishdata.includes( $any(itemPro._id) )" (click)="wisssh(itemPro._id)" class="fa-regular fa-heart heart" ></i>
         <i  *ngIf="wishdata.includes( $any(itemPro._id) )" (click)="removwish(itemPro._id)" class="fa-solid fa-heart heart"></i>

               <div role="button" [routerLink]="['/datels', itemPro._id]">
                <img class="w-100" [src]="itemPro.imageCover" [title]="itemPro.title" [alt]="itemPro.title">
                <h3 class="h6">{{itemPro.title | cuttext:3}}</h3>
                <h4 class="h6 text-main">{{itemPro.category.name}}</h4>
                <div class="d-flex align-items-center justify-content-between">
                    <span class="small text-muted">{{itemPro.price | currency:"EGP"}}</span>
                    <SPan>
                        <i [class.rating-color]="itemPro.ratingsAverage >= ster" *ngFor="let ster of [1,2,3,4,5]" class="fas fa-star rating-color"></i>
                        {{itemPro.ratingsAverage}}
                    </SPan>
                </div>
               </div>

               <footer>
                <button (click)="addproot(itemPro._id, addrt)" #addrt class="main-btn  w-100">+Add To Cart</button>
               </footer>
            </div>
        </div>
    </div>
</section>